<h5>Editar maestro</h5>
<div class="card">
        <form [formGroup]="maestro" (ngSubmit)="editar()">
    
                <div formGroupName="nombreCompleto" class="nombre">
            
                <mat-form-field class="nameField">
                      <input formControlName='apellidoPaterno'  name="usuario"  matInput placeholder="Apellido paterno">
                </mat-form-field>
              
              
                  <mat-form-field class="nameField">
                      <input formControlName='apellidoMaterno' name="usuario"  matInput placeholder="Apellido materno">
                  </mat-form-field>
            
                  <mat-form-field class="nameField">
                      <input formControlName='nombre' name="usuario" matInput placeholder="Nombre">
                  </mat-form-field>
                </div>

                <div class="botonera">
                    <button type="button" (click)="onNoClick()" mat-raised-button color="warn"><i class="material-icons">cancel</i>
                    </button>
                    <button mat-raised-button color="primary" [disabled]="!maestro.valid" ><i class="material-icons">save</i></button>
                </div>
            
              </form>
</div>