<div class="anterior">
      <button [routerLink]="['/','menu']" mat-fab color="warn"><i class="material-icons">keyboard_backspace</i></button>
</div>
<div class="card">

    <div class="container">
      <div class="seleccion">
        <h3 class="center">Crear Maestro</h3>
        <div class="image-container">
           <img class="image" mat-card-image src="./assets/agregarMaestros.png" alt="Photo of a Shiba Inu">
        </div>
        <div class="item-container">
           <button mat-button color="primary" [routerLink]="['/crear-maestro']">IR</button>
        </div>
      </div>
     
      <div class="seleccion">
        <h3 class="center">Administrar maestros</h3>
        <div class="image-container">
           <img class="image" mat-card-image src="./assets/administrarMaestro.png" alt="Photo of a Shiba Inu">
        </div>
        <div class="item-container">
           <button mat-button color="primary" [routerLink]="['/administrar-maestros']">IR</button>
        </div>
      </div>

  
    </div>
  
    <div class="back">
        <img src="./assets/logo.jpeg" >
     </div>  
   
   
   
   </div>
   