<div class="anterior">
      <button [routerLink]="['/','menu']" mat-fab color="warn"><i class="material-icons">keyboard_backspace</i></button>
</div>

<div class="card">

<div class="container">
  <div class="seleccion">
    <h3 class="center">Agregar Proyecto</h3>
    <div class="image-container">
       <img class="image" mat-card-image src="./assets/agregarProyecto.png" alt="Photo of a Shiba Inu">
    </div>
    <div class="item-container">
       <button mat-button color="primary" [routerLink]="['/crear-proyecto']">IR</button>
    </div>
  </div>
 
  <div class="seleccion">
   <h3 class="center">Agregar Proyecto a titulación</h3>
   <div class="image-container">
      <img class="image" mat-card-image src="./assets/administrarProyecto.png" alt="Photo of a Shiba Inu">
   </div>
   <div class="item-container">
      <button mat-button color="primary" [routerLink]="['/agregar-titulacion']">IR</button>
   </div>
 </div>

 <div class="seleccion">
   <h3 class="center">Formatos</h3>
   <div class="image-container">
      <img class="image" mat-card-image src="./assets/formatos.png" alt="Photo of a Shiba Inu">
   </div>
   <div class="item-container">
      <button mat-button color="primary" [routerLink]="['/formatos']">IR</button>
   </div>
 </div>


</div>

<div class="back">
    <img src="./assets/logo.jpeg" >
 </div>  



</div>
